
body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #69FADA
}

.wrapper {
  background-color: #71dad2;

}

#self-portrait {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.bg {
  background-image: url(../img/background.jpg);
  height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
